---
import BaseLayout from "../../layouts/BaseLayout.astro";

const { cookies, redirect } = Astro;
const accessToken = cookies.get("tt-access-token");
const refreshToken = cookies.get("tt-refresh-token");

if (accessToken && refreshToken) {
  return redirect("/home");
}
---

<BaseLayout title="Travel Tinder: Sign in">
  <h1>Sign in</h1>
  <form action="/api/auth/signin" method="post">
    <button value="google" name="provider" type="submit"
      >Sign in with google</button
    >
  </form>
</BaseLayout>
