---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { faGoogleIcon } from "../../lib/fontawesome/icons";

const { cookies, redirect } = Astro;
const accessToken = cookies.get("tt-access-token");
const refreshToken = cookies.get("tt-refresh-token");

if (accessToken && refreshToken) {
  return redirect("/home");
}
---

<BaseLayout title="Travel Tinder: Sign in">
  <main>
    <div class="login-container">
      <div class="login-images friends">
        <img src="/travel-tinder-friends.jpg" />
      </div>
      <div class="login-images couple">
        <img src="/travel-tinder-couple.jpg" />
      </div>
      <div class="container-top">
        <h1>Find Your Travel Mate</h1>
      </div>
      <div class="container-bottom">
        <form action="/api/auth/signin" method="post">
          <button
            value="google"
            name="provider"
            type="submit"
            class="google-signin"
          >
            <Fragment set:html={faGoogleIcon.html} />
            <span>Sign in with google</span>
          </button>
        </form>
        <p>
          By signin up, you agree to our Terms. See how we use your data in our
          Privacy Policy. We never post your data to Facebook.
        </p>
      </div>
    </div>
  </main>
</BaseLayout>

<style>
  main {
    height: 100vh;
    width: auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-gradient-darker);
    background: -moz-linear-gradient(
      50deg,
      var(--bg-gradient-darker) 0%,
      var(--bg-gradient-dark) 56%,
      var(--bg-gradient-light) 100%
    );
    background: -webkit-linear-gradient(
      50deg,
      var(--bg-gradient-darker) 0%,
      var(--bg-gradient-dark) 56%,
      var(--bg-gradient-light) 100%
    );
    background: linear-gradient(
      50deg,
      var(--bg-gradient-darker) 0%,
      var(--bg-gradient-dark) 56%,
      var(--bg-gradient-light) 100%
    );
  }

  h1 {
    color: var(--text-white);
    font-size: 3rem;
  }

  p {
    color: var(--text-white);
  }

  .login-container {
    width: 100%;
    padding: 3rem 2rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .login-images {
    position: absolute;
    width: 120px;
    height: 180px;
  }

  .login-images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--radius-default);
    border: 2px solid var(--text-white);
  }

  .login-images.friends {
    right: 20%;
    top: 30%;
    transform: rotate(-5deg);
  }

  .login-images.couple {
    left: 20%;
    top: 40%;
    transform: rotate(5deg);
  }

  button.google-signin {
    padding: 0.75rem 0rem;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border-radius: var(--radius-default);
  }

  div.container-bottom p {
    padding-top: 1.5rem;
    font-size: 0.75rem;
  }

  button.google-signin :global(svg) {
    height: 1.5rem !important;
    color: orangered;
  }

  @media (max-height: 600px) {
    .login-images {
      display: none;
    }
  }

  @media (min-height: 750px) {
    h1 {
      font-size: 3.5rem;
    }

    .login-container {
			padding: 4rem 2rem;
		}

    .login-images {
      width: 170px;
      height: 230px;
    }

    .login-images.friends {
      right: 15%;
    }

    .login-images.couple {
      left: 15%;
    }

    div.container-bottom p {
      padding-top: 2rem;
      font-size: 1rem;
    }

    button.google-signin {
      padding: 1rem 0rem;
      font-size: 1.5rem;
    }
  }
</style>
