---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--white-light: #f1f1f1;
		--accent-dark: 49, 10, 101;
		--bg-gradient-darker: rgb(2, 0, 36, 1);
		--bg-gradient-dark: rgb(9, 9, 121, 1);
		--bg-gradient-light: rgb(0, 212, 255, 1);

		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		font-family: "Quicksand", sans-serif;
  		font-optical-sizing: auto;
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	body {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
</style>
